:root {
}
html {
  font-size: 62.5%;
}
body {
  font-size: 16px; /* 1rem = 10px*/
  text-align: center;
  margin: 0 auto 0 auto;
}

h1 {
  font-size: 3rem;
  margin: 2rem;
  padding: 2rem;
  margin: 0;
  background-color: #333;
  color: #fff;
}

#tarjetas {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50rem;
  overflow: scroll;
}

#tarjetas div img {
  width: 20rem;
}

#tarjetas div {
  margin: 1rem;
  width: 20rem;
  text-align: center;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  margin-top: 2rem;
}
