header {
  width: 100%;
  height: auto;
  background: #1e1f22;
  margin-bottom: 20px;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);*/
  display: flex;
  justify-content: center;
  align-items: center;
}

header .titulo {
  margin-left: 50px;
}
header .buscar {
  margin-right: 50px;
}

.cabezera {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 84%;
  color: #bc3a4b;
}

.buscar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search input {
  padding: 0.6rem;
  width: 16rem;
}
.buscar input {
  padding: 5px 10px;
  max-width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #2a2c30;
}

main {
  flex: 1; /* ocupa todo el espacio disponible */
}

body {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 84%;
}

#tarjetas div {
  background-color: #1e1f22;
  color: #e6e6e6;
  width: 14rem;
  padding: 0.2rem 0.1rem 0.8rem 0.1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

#tarjetas div img {
  width: 90%;
  height: auto;
  border-radius: 6px;
  flex: 1;
}

#tarjetas div:hover {
  height: auto;
  transition: all 0.3s ease;
  background-color: #34373d;
  cursor: pointer;
}

footer {
  background: #1e1f22;
  color: #a7a9ac;
  text-align: center;
  padding: 2rem 0 2rem 0;
  margin-top: 4rem;
  /*box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.8);*/
}

.contenido {
    max-width: 84%;
    margin: 0 auto;
}

.ingredientes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.instrucciones {
    margin-top: 1rem;
    text-align: left;
}

.cerrar {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #bc3a4b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}